# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Rdata
.Ruserdata
.Renviron
.Rprofile
.httr-oauth

# OS
.DS_Store

# Quarto
.quarto/
_freeze/
*_cache/
site_libs/

# Data folders
data/
In-class_Ex/**/data/
Take-home_Ex01/data/
Take-home_Ex02/data/
Hands-on_Ex/**/data/

# Temporary and backup files
*.RDataTmp*
*.RdataTmp*
*.zip
*.rds
*.csv
*.log
*.bak

/.quarto/
